<div class="container animated flipInX" id="contact">
    <div class="innerContainer">
        <h2>Contact me</h2>
        <form name="myForm" id="myForm" novalidate>
            <input class="inputBox" id="name" name="name" ng-model="name" placeholder="Name" required novalidate/>

            <input class="inputBox" id="email" type="email" name="email" ng-model="email" placeholder="E-mail" required novalidate/>

            <textarea class="inputBox" rows="5" cols="50" id="mail" placeholder="message" name="message" ng-model="message"
                      ng-minlength="20" required></textarea>

            <button class="btn btn-default submitButton" type="submit" value="bulk" ng-click="sendMessage()"> Send message</button>
        </form>
    </div>
</div>
