<div class="container" id="contact">
    <h2>Contact me</h2>
    <form name="myForm" id="myForm" novalidate >
        <div class="col-md-4"><input id="name" name="name" ng-model="name" placeholder="Name" required novalidate /></div>

        <div class="col-md-4"> <input id="email" type="email" name="email" ng-model="email" placeholder="E-mail" required novalidate /></div>

        <div class="col-md-12">
            <textarea rows="5" cols="50" id="mail" placeholder="message" name="message" ng-model="message" ng-minlength="20" required></textarea>
        </div>

    </form>
    <div class="col-md-12"><button class="btn btn-default" type="submit" value="bulk" ng-click="sendMessage()" ng-disabled="!myForm.$valid"> Send message</button></div>
</div>
